$light: #fff;
$red: #dc3545;
$yellow: #FEE140;
$cyan: #21D4FD;
$grey: #2a2a2a;
$gradient: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
$gradient-cyan: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);